<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>test1</title>

</head>
<body>
<div id="myApp">
    <div style="font-size: 50px;color: blue">{{name}}</div>
    <!--<div style="font-size: 50px;color: #00a4ff">{{name}}</div>-->
    <input type="text" v-model="num1"/>
    <input type="text" v-model="num2"/>={{result}}
    <!--<span v-text="num1+num2"></span>-->
    <button v-on:click="add">计算</button>

</div>
</body>
<script type="text/javascript" src="vue.min.js" charset="UTF-8"></script>
<script>
    var vm = new Vue({
        el:'#myApp',
        data:{
            name:'haha',
            num1:1,
            num2:2,
            size:100,
            result:0
        },
        methods:{
            add: function () {
                this.result= Number.parseInt(this.num1)+Number.parseInt(this.num2);
            }
        }
    });
</script>
</html>